/*
A deep commitment to purple: #7D4071
Australium gold: #E7B53B
After eight: #2D2D24
*/

html, body{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-align: left;
	background-color: white;
	color: #2D2D24;

	height:100%;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;

}

body {
	text-align: center;
	width: 100%;
	align-items: center;
}

header {
	display:block;
    color: #7D4071;
    text-align: center;
    padding-top: 30px;
	padding-bottom: 60px;
}

header :any-link {
	color: #7D4071;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #7D4071;
	padding: 0px;
	margin: 0px auto;
}

hr {
	width: 100%;
	color: rgba(125, 64, 113, 0.5);
	border-color: rgba(125, 64, 113, 0.5);
	background-color: rgba(125, 64, 113, 0.5);
	height: 1px;
	border: 0;
}

header h1, header h2, header h3, header h4, header h5, header h6{
	font-size: 250%;
	font-weight: 400;
	text-align: center;
}

table, tr, td, tbody {
	margin: 0 auto;
	padding: 0;
}

main {
    margin: 0px auto;
	width: 100%;
	/*spacer*/
	min-height: 1000px;
}

a, a:visited {
	color: #7D4071;
}

:any-link {
	color: #7D4071;
}

#page-title{
	margin-top: 50px;
	padding: 50px;
}

#main-menu a {
	color: white;
	text-decoration: none;
	margin-right: 15px;
	margin-left: 15px;
}

#main-menu a:hover {
	color: #E7B53B;
}

#main-menu {
	background-color: #7D4071;
	padding-bottom: 15px;
	padding-top: 15px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1000;
	left:0px;
}

.section-spacer  {
	height: 50px;
}

.center-wrapper {
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
}
.center-wrapper td {
   vertical-align: middle;
   text-align: center;
}
table.centered {
	width: 100%;
	margin-top: 30px;
	max-width: 100%;
}

section{
	min-height: 325px;
	background: linear-gradient(rgba(125, 64, 113, 0.1) 0px, white 325px);
	width: 100%;
	text-align: center;
	border-top: 1px solid;
	border-color: rgba(125, 64, 113, 0.5);
}

.container {
	text-align: left;
	max-width: 800px;
	padding: 5%;
	width: 80%;
	margin: 0 auto;
}


.circular {
	border-radius: 50%;
}

#projects hr {
	margin-top: 50px; margin-bottom:50px; width: 30%;
}

/*-----------------------*/
/* ------ TIMELINE ------*/
/*-----------------------*/

.timeline {
	position: relative;
	overflow: auto;
}
  
.timeline h3 {
	background: white;
	max-width: 6em;
	margin: 1em auto 1em;
	padding: 0.5em;
	text-align: center;
	position: relative;
	clear: both;
	border: 2px #7D4071 solid;
}
  
.timeline ul {
	list-style: none;
	padding: 0 1em 0 1em;
	z-index: 1;
}
  
.timeline li {
	background: white;
	padding: 1em;
	margin-bottom: 1em;
	position: relative;
	border: 2px #7D4071 solid;
}

.timeline:before {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	left: -1em;
}
  
  
.timeline h4 {
	margin-top: 0;
}


@media screen and (min-width: 40em) {
	
	.timeline:before {
    	background: #7D4071;
		left: 50%;
		height: 100%;
		width: 2px;
	}
	
	.timeline ul {
		padding-left: 0;
		max-width: 100%;
		padding: 0;
	}
	
	.timeline li {
		width: 42%;
	}
	
	.timeline li:nth-child(even) {
		float: right;
		margin-top: 2em;
	}
	
	.timeline li:nth-child(odd) {
		float: left;
	}

	.timeline li:nth-child(odd):before {
		border-top: 1em solid #7D4071;
		border-right: 1em solid transparent;
		border-left: 1em;
		right: -1em;
		left: auto;
	}

	.timeline li:before {
    	content: '';
    	width: 0;
    	height: 0;
    	border-top: 1em solid #7D4071;
    	border-left: 1em solid transparent;
    	position: absolute;
    	left: -1em;
	}
	
	.timeline li:nth-of-type(2n+1) {
		clear: both;
	}
}

/*-----------------------*/
/*------- SLIDES --------*/
/*-----------------------*/

.slides-bar-anchor {
    position:relative;
    width:100%;
	text-align: center;
}

.slides-bar {
    background-color: rgba(73, 73, 73, 0.78);
    width:100%;
    color: white;
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    bottom: 5px;
	left: 0px;
	right: 0px;
    padding-bottom: 5px;
    padding-top: 5px;

	margin: 0 auto;
}

.slides-arrow-left:hover, .slides-arrow-right:hover {
    cursor: pointer;
    color: #E7B53B;
}

.slideDots:hover {
	cursor: pointer;
	background-color: #E7B53B;
}

.slides-arrow-right {
    float: right;
    padding-right: 5%;
}

.slides-arrow-left {
    float: left;
    padding-left: 5%;
}

.slideDots, .slideDots-selected {
    height: 13px;
    width: 13px;
    border-style: none;
    border-radius: 50%;
}

.slideDots {
    background-color: rgba(255, 255, 255, 0.8)
}

.slideDots-selected {
    background-color: #E7B53B;
}

.slides p {
	text-align: center;
	
	background-color: rgba(73, 73, 73, 0.78);
    width: 100% - 12px;
    color: white;
    position: absolute;
	right: 0px;
	left: 0px;
	padding: 10px;

	margin: 0 auto;
}

.slide-container{
	width: 80%;
	margin: 0 auto;
	position:relative;

	margin-top: 30px; margin-bottom: 30px;
}

time {
	font-style: italic;
}

section#projects time {
	float: right;
}

/****/

.progress-bar {
	width: 80%;
	background: rgba(45, 45, 36, 0.1);
	margin: 15px auto;
	padding: 5px;
	width: 150px;
}

.progress-bar .progress {
	background: #E7B53B;
	height: 10px;
}



:any-link:hover {
	color:#E7B53B;
}

a:hover {
	color:#E7B53B;
}